.right-div {
    width: 67%;
    height: 99.8%;
    float: left;
    border: 1px solid rgb(205, 205, 211);
    //background-color: #28425b;
    border-radius: 1rem;

    div {
        border-radius: 1rem;
    }

    .top {
        width: 100%;
        height: 50%;
        // border: 1px solid rgb(205, 205, 211);
        //background-color: #28425b;

        .video {

            font-size: 4rem;
            padding-top: 12%;
            text-align: center;
            float: left;
            width: 60%;
            height: 100%;
             border: 1px solid rgb(205, 205, 211);
        }

        .list {
            float: left;
            width: 40%;
            height: 100%;
             // border: 1px solid rgb(205, 205, 211);
        }


    }

    .down {
        width: 100%;
        height: 50%;

        // border: 1px solid rgb(205, 205, 211);
        //background-color: #28425b;
        .box-div {
            float: left;
            width: 50%;
            height: 100%;

           // border: 1px solid rgb(205, 205, 211);
            .title {
                color: #ffffff;
                background-image: linear-gradient(to left, #ffffff 0%,#1e68bb 50%, #ffffff 100%);
                border-radius: .2rem; // 边框圆角
                text-align: center;
                font-size: 1.3rem;
                height: 3.5rem;
                line-height: 3.5rem;
               // border: 1px solid rgb(205, 205, 211);


            }

            .pdiv {
                margin-top: .5rem;
                width: 100%;
                height: 6rem;
                // border: 1px solid rgb(205, 205, 211);

                .car-div{
                    text-align: center;
                    float: left;
                    height: 100%;

                   //   border: 1px solid rgb(205, 205, 211);

                }

                .car-time {


                    font-size: 1.7rem;
                    width: 22%;

                }

                .car-no {
                    color: white; // 字体颜色
                    background-color: #e5d332;
                    //background-color: #1e68bb; // 背景色
                    border-radius: .5rem; // 边框圆角
                    border: white .15rem solid; // 白色外边框
                    // padding: .02rem .8rem; // 内边距
                    display: inline-block; // 视用在什么元素上而定
                    box-shadow: 0 0 .3rem .15rem #e5d332;
                    //box-shadow: 0 0 .3rem .15rem #1e68bb;
                    // 外阴影  前两个参数分别是上下和左右偏移  后两个属性依次为模糊距离和阴影尺寸  最后是颜色
                    line-height: 6rem;
                    font-family: 'Arial, sans-serif';
                    font-size: 2rem;
                    width: 32%;
                }
                .hc{
                    background-color: #1e68bb; 
                    box-shadow: 0 0 .3rem .15rem #1e68bb;
                }

                .car-msg {
                    line-height: 5.5rem;
                    width: 45%;

                    div{
                        float: left;
                        width: 33%;
                        height: 70%;
                        //border: 1px solid rgb(205, 205, 211);

                    }
                    .msg{
                        float: left;
                        width: 100%;
                        height: 30%;
                        //border: 1px solid rgb(205, 205, 211);
                    }
                    p{
                        font-size: 1.2rem;
                        text-align: center;
                       // border: 1px solid rgb(205, 205, 211);
                        line-height: 2rem;

                    }
                    // .weight{
                       


                    // }
                    

                }

            }
            .car-img{
                margin-top: 1rem;
                margin-left: 1.5rem;
                float: left;
                width: 45%;
                border: 1px solid rgb(205, 205, 211);
                //height: 21rem;
                height: 62%;
                font-size: 4rem;
                padding-top: 15%;
                text-align: center;
                
            }
           

        }


        // .left {}

        // .right {}
    }
}