.cell-tool {
    height: 40px;
    line-height: 30px;
    padding: 0 7px;
}
.cell-player {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.cell-player-4 {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 50% !important;
    box-sizing: border-box;
}

.cell-player-2 {
    top: 20%;
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 60% !important;
    box-sizing: border-box;
}

.cell-player-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}
.cell-player-6-1 {
    position: relative;
    overflow: hidden;
    width: 66.66%;
    height: 66.66% !important;
    box-sizing: border-box;
}
.cell-player-6-2 {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    height: 66.66% !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.cell-player-6-none {
    display: none;
}
.cell-player-6-2-cell {
  //  position: relative;
    overflow: hidden;
    width: 100%;
    height: 50% !important;
    box-sizing: border-box;
}
.cell-player-6 {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    height: 33.33% !important;
    box-sizing: border-box;
}
.cell-player-9 {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    height: 33.33% !important;
    box-sizing: border-box;
}
.cell-player-16 {
    position: relative;
    overflow: hidden;
    width: 25%;
    height: 25% !important;
    box-sizing: border-box;
}
.cell {
    display: flex;
    flex-direction: column;
    height: 100%;
}
